<%# ***** lists/new のビュー ***** %>
<div class="container mt-4">
<%# ***** div：汎用コンテナ要素 ***** %>
  <h2 class="mb-3">リスト作成</h2>
  <%# ***** h2：見出し要素 ***** %>
  <%= render 'form' %>
  <div class="mt-3">
  <%# ***** div：汎用コンテナ要素 ***** %>
    <%= link_to '一覧へ戻る', lists_path, class: 'btn btn-outline-secondary btn-sm' %>
  </div>
  <%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>
</div>
<%# ***** </div>：divタグ（汎用コンテナ要素）の終了 ***** %>
