<%# ***** sessions/guest_sign_in のビュー ***** %>
<%# ***** 「# ***** sessions/guest_sign_in のビュー *****」：出力式/式 ***** %>
<h1>Sessions#guest_sign_in</h1>
<%# ***** 「<h1>」：HTMLタグ ***** %>
<%# ***** 「<h1>【内容】</h1>」：見出し要素 ***** %>
<%# ***** 「# ***** 「<h1>【内容】</h1>」：見出し要素 *****」：出力式/式 ***** %>
<p>Find me in app/views/sessions/guest_sign_in.html.erb</p>
<%# ***** 「<p>」：HTMLタグ ***** %>
<%# ***** 「<p>【内容】</p>」：段落要素 ***** %>
<%# ***** 「# ***** 「<p>【内容】</p>」：段落要素 *****」：出力式/式 ***** %>