<%# ***** sessions/guest_sign_in のビュー ***** %>
<h1>Sessions#guest_sign_in</h1>
<%# ***** 「<h1>【内容】</h1>」：見出し要素 ***** %>
<p>Find me in app/views/sessions/guest_sign_in.html.erb</p>
<%# ***** 「<p>【内容】</p>」：段落要素 ***** %>
