<%# ***** comments/create のビュー ***** %>
<%# ***** 「# ***** comments/create のビュー *****」：出力式/式 ***** %>
<h1>Comments#create</h1>
<%# ***** 「<h1>」：HTMLタグ ***** %>
<%# ***** 「<h1>【内容】</h1>」：見出し要素 ***** %>
<%# ***** 「# ***** 「<h1>【内容】</h1>」：見出し要素 *****」：出力式/式 ***** %>
<p>Find me in app/views/comments/create.html.erb</p>
<%# ***** 「<p>」：HTMLタグ ***** %>
<%# ***** 「<p>【内容】</p>」：段落要素 ***** %>
<%# ***** 「# ***** 「<p>【内容】</p>」：段落要素 *****」：出力式/式 ***** %>