<%# ===== comments/destroy のビュー ===== %>
<%# ***** 「# ===== comments/destroy のビュー =====」：出力式/式 ***** %>
<h1>Comments#destroy</h1>
<%# ***** 「<h1>」：HTMLタグ ***** %>
<%# ***** 「<h1>【内容】</h1>」：ページの見出しを表示するHTMLタグ ***** %>
<%# ***** 「# ***** 「<h1>【内容】</h1>」：ページの見出しを表示するHTMLタグ *****」：出力式/式 ***** %>
<%# ***** 「Comments#destroy」：Commentsコントローラのdestroyアクションに対応する画面であることを示すタイトル ***** %>
<%# ***** 「# ***** 「Comments#destroy」：Commentsコントローラのdestroyアクションに対応する画面であることを示すタイトル *****」：出力式/式 ***** %>
<p>Find me in app/views/comments/destroy.html.erb</p>
<%# ***** 「<p>」：HTMLタグ ***** %>
<%# *****「<p>【内容】</p>」：文章（段落）を表示するHTMLタグ ***** %>
<%# ***** 「# *****「<p>【内容】</p>」：文章（段落）を表示するHTMLタグ *****」：出力式/式 ***** %>
<%# *****「Find me in app/views/comments/destroy.html.erb」：このビューのファイル場所を示すデフォルトメッセージ ***** %>
<%# ***** 「# *****「Find me in app/views/comments/destroy.html.erb」：このビューのファイル場所を示すデフォルトメッセージ *****」：出力式/式 ***** %>