<div class="container px-5 px-sm-0 mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>ユーザー一覧</h2>
        <%= link_to "ユーザーを検索", search_users_path, class: "btn btn-info" %>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>メールアドレス</th>
            <th>ロール</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><strong><%= link_to user.name.presence || user.email, user_path(user) %></strong></td>
              <td><%= user.email %></td>
              <td>
                <% if user.admin? %>
                  <span class="badge badge-danger">管理者</span>
                <% elsif user.guest? %>
                  <span class="badge badge-secondary">ゲスト</span>
                <% else %>
                  <span class="badge badge-primary">一般</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
