<%# ***** users/index のビュー ***** %>
<div class="container px-5 px-sm-0 mt-4">
<%# ***** 「<div>」：汎用コンテナ要素 ***** %>
<%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
  <div class="row">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <div class="col-md-12">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <div class="d-flex justify-content-between align-items-center">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <h2>ユーザー一覧</h2>
        <%# ***** 「<h2>【内容】</h2>」：見出し要素 ***** %>
        <%= link_to "ユーザーを検索", search_users_path, class: "btn btn-info" %>
        <%# ***** 「link_to "ユーザーを検索", search_users_path, class: "btn btn-info"」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
      <%# ***** 一覧テーブルセクション ***** %>
      <table class="table table-hover">
      <%# ***** 「<table>」：テーブル要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <thead>
        <%# ***** 「<thead>」：テーブル見出し要素 ***** %>
          <tr>
          <%# ***** 「<tr>」：テーブル行要素 ***** %>
            <th>ユーザー</th>
            <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
            <th>メールアドレス</th>
            <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
            <th>ロール</th>
            <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
            <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
          </tr>
          <%# ***** 「</tr>」：trタグ（テーブル行要素）の終了 ***** %>
        </thead>
        <%# ***** 「</thead>」：theadタグ（テーブル見出し要素）の終了 ***** %>
        <tbody>
        <%# ***** 「<tbody>」：テーブル本文要素 ***** %>
        <%# ***** 一覧ループセクション ***** %>
          <% @users.each do |user| %>
          <%# ***** 「@users.each do |user|」：Ruby式を実行する処理 ***** %>
          <%# ***** 「each do |user|」: コレクションを順番に処理し、|user| で現在要素を受け取る反復構文 ***** %>
          <%# ***** 「@users」：処理対象となるコレクション ***** %>
          <%# ***** 「|user|」：各反復で取り出した要素を受け取るブロック引数 ***** %>

          <%# ***** 「each」：コレクションを順に処理するループ ***** %>
            <tr>
            <%# ***** 「<tr>」：テーブル行要素 ***** %>
              <td><strong><%= link_to user.name.presence || user.email, user_path(user) %></strong></td>
              <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
              <td><%= user.email %></td>
              <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
              <td>
              <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
<%# ***** 条件分岐セクション ***** %>
                <% if user.admin? %>
                <%# ***** 「if user.admin?」：Ruby式を実行する処理 ***** %>
                <%# ***** 「if (user.admin?)」: user.admin?を判定する条件分岐 ***** %>

                <%# ***** 「if」：条件を判定する分岐 ***** %>
                  <span class="badge badge-danger">管理者</span>
                  <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
                <% elsif user.guest? %>
                <%# ***** 「elsif user.guest?」：Ruby式を実行する処理 ***** %>
                <%# ***** 「elsif (user.guest?)」: 前条件が偽の場合にuser.guest?を追加判定する分岐 ***** %>

                <%# ***** 「elsif」：前条件が偽の場合の追加分岐 ***** %>
                  <span class="badge badge-secondary">ゲスト</span>
                  <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
                <% else %>
                <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>

                <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>
                  <span class="badge badge-primary">一般</span>
                  <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
                <% end %>
                <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
              </td>
              <%# ***** 「</td>」：tdタグ（テーブルデータセル要素）の終了 ***** %>
            </tr>
            <%# ***** 「</tr>」：trタグ（テーブル行要素）の終了 ***** %>
          <% end %>
          <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
        </tbody>
        <%# ***** 「</tbody>」：tbodyタグ（テーブル本文要素）の終了 ***** %>
      </table>
      <%# ***** 「</table>」：tableタグ（テーブル要素）の終了 ***** %>
    </div>
    <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
  </div>
  <%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
</div>
<%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
<%# ***** 「</div>」：divタグ（汎用コンテナ要素）の終了 ***** %>
