<%# ***** tags/index.html.erb - タグ一覧ページ ***** %>
<%# ***** 【このページの役割】 ***** %>
<%# ***** すべてのタグと、それぞれに付けられた投稿数を表示 ***** %>
<%# ***** ユーザーがタグをクリックして関連投稿を検索できる ***** %>

<div class="container px-5 px-sm-0 mt-4">
<%# ***** 「<div>」：汎用コンテナ要素 ***** %>
<%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
  <div class="row">
  <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
  <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
    <div class="col-md-12">
    <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
      <h2 class="mb-4">タグ一覧</h2>
      <%# ***** 「<h2>【内容】</h2>」：見出し要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>

      <%# ***** 「<h2>【内容】</h2>」：見出し要素 ***** %>
      <%# ***** 条件分岐セクション ***** %>
      <% if @tags.any? %>
      <%# ***** 「if 【条件式】」：【条件式】が true の場合、以下の処理を実行する ***** %>
        <%# ***** タグの詳細テーブル表示 ***** %>
        <div class="table-responsive">
        <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
        <%# ***** 一覧テーブルセクション ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
          <table class="table table-hover">
          <%# ***** 「<table>」：テーブル要素 ***** %>
          <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
            <thead>
            <%# ***** 「<thead>」：テーブル見出し要素 ***** %>
              <tr>
              <%# ***** 「<tr>」：テーブル行要素 ***** %>
                <th>タグ名</th>
                <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
                <th>使用数</th>
                <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
                <th>操作</th>
                <%# ***** 「<th>【内容】</th>」：テーブル見出しセル要素 ***** %>
              </tr>
              <%# ***** 「<tr>【内容】</tr>」：表の行要素 ***** %>
            </thead>
            <%# ***** 「<thead>【内容】</thead>」：表ヘッダー要素 ***** %>
            <tbody>
            <%# ***** 「<tbody>」：テーブル本文要素 ***** %>
            <%# ***** 一覧ループセクション ***** %>
              <% @tags.each do |tag| %>
              <%# ***** 「@tags.each do |tag|」：Ruby式を実行する処理 ***** %>
              <%# ***** 「each do |tag|」: コレクションを順番に処理し、|tag| で現在要素を受け取る反復構文 ***** %>
              <%# ***** 「@tags」：処理対象となるコレクション ***** %>
              <%# ***** 「|tag|」：各反復で取り出した要素を受け取るブロック引数 ***** %>
              <%# ***** 「each」：コレクションを順に処理するループ ***** %>
                <tr>
                <%# ***** 「<tr>」：テーブル行要素 ***** %>
                  <td><strong><%= tag.name %></strong></td>
                  <%# ***** 「<td>【内容】</td>」：テーブルデータセル要素 ***** %>
                  <td>
                  <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
                    <span class="badge badge-info"><%= tag.taggings_count %>件</span>
                    <%# ***** 「<span>【内容】</span>」：インライン要素 ***** %>
                    <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
                  </td>
                  <%# ***** 「<td>【内容】</td>」：表のデータセル要素 ***** %>
                  <td>
                  <%# ***** 「<td>」：テーブルデータセル要素 ***** %>
                    <%= link_to '投稿を見る', tagged_posts_path(tag.name), class: 'btn btn-sm btn-primary' %>
                    <%# ***** 「link_to '投稿を見る', tagged_posts_path(tag.name), class: 'btn btn-sm btn-primary'」：画面へ値を出力する式 ***** %>
                  </td>
                  <%# ***** 「<td>【内容】</td>」：表のデータセル要素 ***** %>
                </tr>
                <%# ***** 「<tr>【内容】</tr>」：表の行要素 ***** %>
              <% end %>
              <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>
            </tbody>
            <%# ***** 「<tbody>【内容】</tbody>」：表本体要素 ***** %>
          </table>
          <%# ***** 「<table>【内容】</table>」：表要素 ***** %>
        </div>
        <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
      <% else %>
      <%# ***** 「else」：上記条件に当てはまらない場合の分岐 ***** %>
        <div class="alert alert-warning" role="alert">
        <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
        <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%# ***** 「role ="【ロール】"」：要素の役割を示す属性 ***** %>
          まだタグが登録されていません。
        </div>
        <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
      <% end %>
      <%# ***** 「end」：ブロック処理を終了するキーワード ***** %>

      <div class="mt-3">
      <%# ***** 「<div>」：汎用コンテナ要素 ***** %>
      <%# ***** 「class ="【クラス名】"」：要素へスタイルを適用するクラス属性 ***** %>
        <%= link_to '投稿一覧に戻る', posts_path, class: 'btn btn-secondary' %>
        <%# ***** 「link_to '投稿一覧に戻る', posts_path, class: 'btn btn-secondary'」：画面へ値を出力する式 ***** %>
      </div>
      <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
    </div>
    <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
  </div>
  <%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
</div>
<%# ***** 「<div>【内容】</div>」：要素をまとめるための汎用コンテナ ***** %>
