<%# ***** layouts/mailer のビュー ***** %>
<!DOCTYPE html>
<%# ***** 「!DOCTYPE html」：HTML5文書型宣言 ***** %>
<html>
<%# ***** 「<html>」：HTMLドキュメント全体 ***** %>
  <head>
  <%# ***** 「<head>」：ヘッダー情報セクション ***** %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%# ***** 「<meta>」：メタ情報要素 ***** %>
    <%# ***** 「http-equiv ="【ヘッダー名】"」：HTTPヘッダー相当のメタ情報を指定する属性 ***** %>
    <%# ***** 「content ="【内容】"」：メタ情報の内容を指定する属性 ***** %>
    <style>
    <%# ***** 「<style>」：スタイル定義要素 ***** %>
      /* Email styles need to be inline */
    </style>
    <%# ***** 「</style>」：styleタグ（スタイル定義要素）の終了 ***** %>
  </head>

  <%# ***** 「</head>」：headタグ（ヘッダー情報セクション）の終了 ***** %>
  <%# ***** メール本文セクション ***** %>
  <body>
  <%# ***** 「<body>」：文書本文要素 ***** %>
  <%# ***** 各メールテンプレートの本文を挿入 ***** %>
    <%= yield %>
    <%# ***** 「yield」：画面へ値を出力する式 ***** %>
  </body>
  <%# ***** 「</body>」：bodyタグ（本文セクション）の終了 ***** %>
</html>
<%# ***** 「</html>」：htmlタグ（HTMLドキュメント全体）の終了 ***** %>
