<%# ***** layouts/mailer のビュー ***** %>
<%# ***** 「# ***** layouts/mailer のビュー *****」：出力式/式 ***** %>
<!DOCTYPE html>
<%# ***** 「!DOCTYPE html」：HTML5文書型宣言 ***** %>
<%# ***** 「# ***** 「!DOCTYPE html」：HTML5文書型宣言 *****」：出力式/式 ***** %>
<html>
<%# ***** 「<html>」：HTMLタグ ***** %>
<%# ***** 「<html>」：HTMLドキュメント全体 ***** %>
<%# ***** 「# ***** 「<html>」：HTMLドキュメント全体 *****」：出力式/式 ***** %>
  <head>
  <%# ***** 「<head>」：ヘッダー情報セクション ***** %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%# ***** 「<meta>」：メタ情報要素 ***** %>
    <%# ***** 「http-equiv ="【ヘッダー名】"」：HTTPヘッダー相当のメタ情報を指定する属性 ***** %>
    <%# ***** 「content ="【内容】"」：メタ情報の内容を指定する属性 ***** %>
    <%# ***** 「http-equiv ="【設定値】"」：属性 ***** %>
    <style>
    <%# ***** 「<style>」：スタイル定義要素 ***** %>
      /* Email styles need to be inline */
    </style>
    <%# ***** 「<style>【内容】</style>」：スタイル定義要素 ***** %>
  </head>
  <%# ***** 「<head>【内容】</head>」：ヘッダー情報セクション ***** %>

  <%# ***** 「<head>【内容】</head>」：ヘッダー情報セクション ***** %>
  <%# ***** メール本文セクション ***** %>
  <body>
  <%# ***** 「<body>」：文書本文要素 ***** %>
  <%# ***** 各メールテンプレートの本文を挿入 ***** %>
    <%= yield %>
    <%# ***** 「yield」：画面へ値を出力する式 ***** %>
  </body>
  <%# ***** 「<body>【内容】</body>」：文書本文要素 ***** %>
</html>
<%# ***** 「<html>【内容】</html>」：HTMLドキュメント全体 ***** %>
<%# ***** 「# ***** 「<html>【内容】</html>」：HTMLドキュメント全体 *****」：出力式/式 ***** %>